html {
  margin:0;
  padding:0;
}

#content {
  width: 200px;
  display:inline;
}

#wrapper {
  width:200px;
}

#mainArea {
  float:left;
}

#registerArea {
  float:right;
}

h1 {
  text-align:center;
}

ul {
  list-style:none;
  display:inline;
}

li.registers {
  float:left;
}

li.pointers {
  float:right;
}

