#content {
  width: 710px;
  margin: 0 auto;

  overflow:hidden;
  height:1%;
}

h1 {
  text-align:center;
}

#mainArea {
  float:left;
}

#commandBox {
  /* ends up as 500px wide */
  width: 494px;
}

#registerArea {
  float:left;
  margin-left: 10px;
}

#registers-wrapper {
  width:200px;
}

#registers-wrapper table {
  margin: 0 10px 10px 10px;
  float:left;
}

.green {
  background-color:green;
}
