html {
  font-family: 'Galdeano', sans-serif;
  font-size: 16px;
}

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
  -moz-box-shadow:    0px 0px 15px rgba(0,0,0,0.8);
  box-shadow:         0px 0px 15px rgba(0,0,0,0.8);
  z-index: 100;
}

header {
  margin: 25px 0 45px 0;
}

#content {
  width: 810px;
  margin: 0 auto;
  overflow:hidden;
  height:1%;
}

h1 {
  text-align:center;
  font-family: 'Russo One', sans-serif;
}

#mainArea {
  float:left;
}

#commandBox {
  /* ends up as 500px wide */
  width: 494px;
}

#registerArea {
  font-size: 1.2em;
  float: left;
  margin-left: 10px;
}

#registers-wrapper {
  width:280px;
  padding: 0 10px 10px 10px;
  position: relative;
}

#registers-wrapper table {
  margin-bottom: 10px;
}
#registers, #flags {
  width: 135px;
  float: left;
}
#flags { margin-left: 10px; }
#programCounter, #stack {
  clear: both;
  text-align: center;
  width: 280px;
}

.green {
  background-color:green;
}

* {
  -webkit-transition: color 2s;
}
