<div id="registers-wrapper">
  <table border="1" id="registers">
    <tr>
      <td>eax</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ebx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ecx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>edx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>esi</td>
      <td>none</td>
    </tr>
    <tr>
      <td>edi</td>
      <td>none</td>
    </tr>
    <tr>
      <td>esp</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ebp</td>
      <td>none</td>
    </tr>
  </table>
  <table border="1" id="flags">
    <tr>
      <td>Zflag</td>
      <td>none</td>
    </tr>
    <tr>
      <td>Sflag</td>
      <td>none</td>
    </tr>
    <tr>
      <td>Oflag</td>
      <td>none</td>
    </tr>
  </table>
  <table border="1" id="programCounter">
    <tr>
      <th> Program Counter </th>
    </tr>
    <tr>
      <td>0x00</td>
    </tr>
  </table>
  <table border="1" id="stack">
    <tr>
      <th> Stack </th>
    </tr>
  </table>
</div>
