<div id="registers-wrapper">
  <table border="1" class="registers">
    <tr>
      <td>eax</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ebx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ecx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>edx</td>
      <td>none</td>
    </tr>
    <tr>
      <td>esi</td>
      <td>none</td>
    </tr>
    <tr>
      <td>esp</td>
      <td>none</td>
    </tr>
    <tr>
      <td>ebp</td>
      <td>none</td>
    </tr>
    <tr>
      <td>edi</td>
      <td>none</td>
    </tr>
  </table>
  <table border="1" class="pointers">
    <tr>
      <td>Zflag</td>
      <td>none</td>
    </tr>
    <tr>
      <td>Sflag</td>
      <td>none</td>
    </tr>
    <tr>
      <td>Oflag</td>
      <td>none</td>
    </tr>
  </table>
  <table border="1" class="Program Counter">
    <tr>
      <td>Program Counter</td>
      <td>0x00</td>
    </tr>
  </table>
  <table border="1" class="Stack">
    <tr>
      <td>Stack</td>
    </tr>
  </table>
</div>
