<div id="wrapper">
  <ul>
    <li class="registers">
      <table border="1">
        <tr>
          <td>eax</td>
          <td>none</td>
        </tr>
        <tr>
          <td>ebx</td>
          <td>none</td>
        </tr>
        <tr>
          <td>ecx</td>
          <td>none</td>
        </tr>
        <tr>
          <td>edx</td>
          <td>none</td>
        </tr>
        <tr>
          <td>esi</td>
          <td>none</td>
        </tr>
        <tr>
          <td>esp</td>
          <td>none</td>
        </tr>
        <tr>
          <td>ebp</td>
          <td>none</td>
        </tr>
        <tr>
          <td>edi</td>
          <td>none</td>
        </tr>
      </table>
    </li>
    <li class="pointers">
      <table border="1">
        <tr>
          <td>Zflag</td>
          <td>none</td>
        </tr>
        <tr>
          <td>Sflag</td>
          <td>none</td>
        </tr>
        <tr>
          <td>Oflag</td>
          <td>none</td>
        </tr>
      </table>
    </li>
  </ul>
</div>
